.inputsContainer {
    text-align: right;
    margin-top: 16vh;
}

.inputs {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 24px;
}

.buttonSave {
    margin: 0;
}

.buttonHidden {
    visibility: hidden;
}