.cardLink {
text-decoration: none;
color: #F2F2F3;
}

.card__container {
    max-width: 272px;
    height: 208px;
    position: relative;
}

.card__price {
    display: flex;
    justify-content: center;
    align-items: center;
}